@import '../../../utils/variables.scss';

.admin-modal {
    border-radius: 10px;
    border: 1px solid rgb(200,200,200);
    margin: auto;
    display: block;
    width: 30%;
    height: 30%;
    margin-top: 20vh;
    padding: 1%;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    font-family: $base-font;
}

.admin-modal input {
    display: block;
    width: 100%;
    margin: auto;
    border: 1px solid rgb(200,200,200);
    margin-top: 5%;
    font-size: 1vw;
    padding: 2%;
    transition: .2s;
}

.admin-modal input:focus {
    outline: none;
    border: 1px solid black;
}

.admin-modal button {
    border: 1px solid rgb(200,200,200);
    padding: 2%;
    display: block;
    margin: auto;
}

.admin-modal button:hover {
    cursor: pointer;
    background-color: rgb(230,230,230);
}

.message {
    box-sizing: border-box;
    background-color: white;
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 1%;
    border-radius: 15px;;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.message.warning {
    color: rgb(255, 83, 83);
    border: 1px solid rgb(255, 83, 83);
    background-color: rgb(255, 215, 215);
}