@import "src/utils/variables.scss";


.socials {
    display: block;
    background-color: $m8-pink;
    padding: 5vh 0;
}

.socials-title {
    width: fit-content;
    margin: auto;
    padding-bottom: 2vh;
    color: $m8-clay;
    font-family: $brand-font;
    font-weight: normal;
    font-size: 2vw;
    text-transform: uppercase;
}

.socials-icons {
    width: fit-content;
    margin: auto;
    margin-bottom: 3vh;
}

.insta-link {
    font-size: 4vw;
    color: $m8-clay;
    transition: .2s;
}

.insta-link:hover {
    color: black;
    cursor: pointer;
}

.mailing-list {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 70vw;
}

.mailing-list-title {
    color: $m8-clay;
    font-family: $brand-font;
    font-weight: normal;
    font-size: 2vw;
}

.joined-mailing-list {
    color: $m8-clay;
    font-family: $brand-font;
    font-weight: normal;
    font-size: 2vw;
    margin: auto;
}

.mailing-list-input {
    flex: 1;
    border: 2px solid $m8-clay;
    border-right: none;
    border-radius: 10px 0 0 10px;
    font-size: 1.5vw;
    padding: 0 .5vw;
    font-family: $brand-font;
    background-color: $m8-pink;
    font-weight: normal;
    color: $m8-clay;
    margin: 0 0 0 1vw;
}

.mailing-list-input::placeholder {
    color: $m8-dark-pink;
}

.mailing-list-input:focus {
    outline: none;
}

.mailing-list-join {
    color: white;
    text-transform: uppercase;
    font-family: $brand-font;
    font-size: 1vw;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    border: 3px solid $m8-clay;
    background-color: $m8-clay;
    border-radius: 0 10px 10px 0;
    position: relative;
    z-index: 1;
    transition: .5s;
    margin: auto;
    transition: .2s;
    width: 5vw;
    height: 100%;
    text-align: center;
    position: relative;
}

.spinner-wrapper {
    margin: auto;

}

.mailing-list-join:hover {
    cursor: pointer;
    background-color: black;
    border-color: black;
}

.error-message {
    color: rgb(216, 0, 0);
    font-family: $brand-font;
    font-weight: normal;
    width: fit-content;
    margin: auto;
    padding: 1vh;
    font-size: .8vw;
}

.message-placeholder {
    font-family: $brand-font;
    font-weight: normal;
    width: fit-content;
    margin: auto;
    padding: 1vh;
    font-size: .8vw;
    color: $m8-pink;
}